

<div id="share" class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2>Share your favorite wedding moments with us</h2>
        <h3>#MeetTheMcafees</h3>
      </div>
      <div class="col-lg-4">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://www.instagram.com/explore/tags/meetthemcafees" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
          </li>
          <li>
            <a href="https://www.facebook.com/groups/1293773274045420" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
          <li>
            <a href="https://twitter.com/search?q=MeetTheMcAfees" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
