<p>
  Our story began in June 2015. We were both going to school at the University of West Florida where we met. We shared our first date on a warm evening in downtown Pensacola. After that evening, we spent the last summer months getting to know each other over Blue Wahoos baseball games, kayaking dates, and ice cream. We spent as much time with each other as our schedules would allow, and we fell in love much faster than either of us anticipated!
</p>
<p>
  In the following fall and spring, Ryan was finishing his senior year of college, and Hannah was finishing her junior year. We had to make time to be with each other, and it regularly included homework dates. Not all our time was spent studying at the library, though. We hit several significant milestones during this time, too: we met each other’s families, celebrated the holidays together, traveled together, supported each other during the loss of loved ones, and dreamed about future plans together.
</p>
<p>
  In mid-summer 2017 on August 3, Ryan surprised Hannah when he made an odd mid-week drive to Pensacola from Destin where he had recently moved. We never saw each other during the weekdays anymore, so it was weird. We decided to do something fun in lieu of his spontaneous mid-week visit. Ryan suggested we drive downtown and go for a walk to get some fresh air. As we walked downtown, we mused over various plans and things we wanted to do together. We walked along the Palafox Harbor Walk to look at the water, and then Ryan lead us down the Palafox Pier like he did on our very first date. This time he kneeled down on one knee with a small black box in his hand!
</p>
<p>
  Today, we could not be more excited to start this wild adventure called Marriage together, and we hope you will join us on our wedding day to celebrate the beginning of our journey!
</p>
