<span>
  Our story began in June of 2015. We were both going to the University of West Florida and to the same church, but never really talked. One day we decided to grab dinner
  and get to know each other and we realized just how much we had in common. Our first date was on Palafox Pier, at the same spot as our engagement.
  We planned a second date and decided to go shark fishing on kayaks near Fort Pickens. Hannah cut her finger that night and I remember taking my knife and cutting a towel into strips to wrap
  around Hannah's finger. Our second date was an adventure and didn't go quite as planned, but by some miracle the second date was the first of many adventures to follow. Over the next several
  months we became close friends and we commonly found ourselves together and we knew we were perfect for each other.
  On August 3rd 2016, Ryan proposed to Hannah on Palafox Pier in Pensacola, Florida and the rest is history.
</span>
