<span>
  On August 3rd 2016, I proposed to Hannah. I walked Hannah down the Palafox Pier in downtown Pensacola, just as I did on our first date. This time however I kneeled down on one knee with a small black box with her ring inside and
  asked Hannah to marry me and she said yes. We will never forget that night, as it marks it the start of our engagement and our lives together. Who knew the 3 hours we spent together in June 2015 would lead to a lifetime of shared memories and adventures.
  We look forward to this June when we officially tie the knot and the many adventures that follow.
</span>
