<div id="wheretostay" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h2 class="margin-top-0">Where To Stay</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>We negotiated with hotels in Pensacola to get the best rates possible that beat the rates you'll get online.
          We have 15 rooms reserved at Hyatt Place at Pensacola Airport.
          This is a new hotel at Pensacola Aiport that is centrally located to the wedding venue, downtown, the mall and 15 minutes from the beach.
          Average rate this time of year is $150-$200 nightly through expedia, etc.
          The nightly rate is $109 for Thursday night - Sunday morning.
          If booking online, please use the corporate code: G-MFWD.
          <a href="https://pensacolaairport.place.hyatt.com/en/hotel/home.html">Here</a> is the booking website.
          You may also book over the phone directly with Hyatt at: <a href="tel:(850) 483-5599">(850) 483-5599</a> just mention you are booking a room under the McAfee Wedding Group Reservation.</p>
      </div>
    </div>

  </div>
</div>
