<body>

{{> navigation }}

<div id="wrapper">

  {{> home/header }}

  {{> home/ourstory }}

  {{> wheretostay }}

  {{> home/rsvp }}

  {{> home/registry }}

  {{> home/thingstodo }}

  {{> home/engage }}

  {{> home/directions }}

  {{> contact }}

  {{> share }}

  {{> footer }}

</div>

</body>
