<body>

{{> navigation }}

<div class="container">
  <div class="row">
    <h1>Registry</h1>
  </div>
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
      <a href="https://www.townsendhousegifts.com/shop/giftregistry_details.php?registryid=340&mode=search"><img src="/img/registry/TownsendHouseGifts.png" class="img-responsive" alt="Townsend House Gifts Registry"></img></a>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <a href="https://www.anthropologie.com/registry/listing?registryId=N2ZJNZC0MJLJ"><img src="/img/registry/Anthropologie.png" class="img-responsive" alt="Anthropologie Registry"></img></a>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&inventoryCallEnabled=true&registryId=544155600&pwsurl="><img src="/img/registry/BedBathAndBeyond.png" class="img-responsive" alt="Bed Bath And Beyond Registry"></img></a>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <a href="http://www.target.com/gift-registry/giftgiver?registryId=42aa7cdf3b6449778a4e4ebc21b29e5e&ref=registryCopiedLink"><img src="/img/registry/Target.png" class="img-responsive" alt="Target"></img></a>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <a href="https://www.kohls.com/upgrade/gift_registry/kohlsgrw_home.jsp?section=list&viewtype=dashboard&listid=3278892"><img src="/img/registry/Kohls.png" class="img-responsive" alt="Kohl's Registry"></img></a>
    </div>
  </div>
  <div class="row">


  </div>
</div>

{{> contact }}

{{> share }}

{{> footer }}


</body>
