<body>

{{> navigation }}

<div id="rsvp" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h2 class="margin-top-0">RSVP</h2>
      </div>
    </div>
    <div class="row">
      <iframe src="https://meetthemcafees.app.rsvpify.com/" width="100%" height="1200px"></iframe>
    </div>
  </div>
</div>

{{> share }}

{{> footer }}

</body>
