<div id="engage" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h2 class="margin-top-0">Engage</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Click <a href="/engage">here</a> to share photos and engage with other guests</p>
      </div>
    </div>
  </div>
</div>
