<div id="registry" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h2 class="margin-top-0">Things To Do in Pensacola</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Click <a href="/thingstodo">here</a> to view things to do in Pensacola!</p>
      </div>
    </div>
  </div>
</div>
