<div id="weddingparty" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h2 class="margin-top-0">Wedding Party</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Coming soon!</p>
      </div>
    </div>

  </div>
</div>
